@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    position: fixed;
    top: 0;
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

section {
    background:url('https://www.toptal.com/designers/subtlepatterns/uploads/grey_wash_wall.png');
    padding: 10px;
    width: 1000px;
    margin: auto;
    margin-top: 68px;
}

.contenedor {
    border: 1px solid white;
}

article {
    display: flex;
}

nav a {
    text-decoration: none;
    margin-left: 20px;
    color: black;
    font-family: calibri;
    font-size: 12px;
    text-transform: uppercase;

}

h1 {
    font-weight: 500;
}

h2, h1 {
    font-family: 'Alegreya Sans', sans-serif;
}

h3 {
    font-size: 14px;
    margin-top: 5px;
}

.texto {
    padding: 20px;
}

p {
    margin-top: 10px;
    text-align: justify;
}

div p {
    overflow-y: scroll;
    height: 205px;
}

span {
    color: red;
}

.articulo {
    width: 50%;
    height: 275px;
}

.imagen {
    overflow: hidden;
    
}

img {
    width: 100%;
}
td, th {
    border: solid  1px black;
}
input, textarea {
    display:block;
}

footer, footer p {
    text-align: center;
}