@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    position: fixed;
    top: 0;
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

section {
    background:url('/Primer_Cuatrimestre/TPE/imagenes/fondo.png');
    padding: 10px;
    width: 1000px;
    margin: auto;
    margin-top: 68px;
}

.cont-general-contacto {
    width: 100%;
    justify-content: center;
}

.contenedor-contacto {
    margin: 100px 20px 0 20px;
    max-width: 20%;
}

label, input, textarea, #suma, #verificador {
    margin-bottom: 5px;
}

button {
    border-radius: 10%;
    background-color: cornflowerblue;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

button, #verificador {
    border: none;
    padding: 6px;
    font-family: 'calibri';
    font-size: 14px;
    text-transform: uppercase;
    display: block;
}

#verificador, #resultado {
    display: inline;
}

.verificado {
    color: #42C834;
    font-size: 20px;
}

.no-verificado {
    font-size: 20px;
    color: red;
}

#verificador { 
    height: auto;
}

.contenedor {
    border: 1px solid white;
}

.flexible {
    display: flex;
}

nav a {
    text-decoration: none;
    margin-left: 20px;
    color: black;
    font-family: calibri;
    font-size: 12px;
    text-transform: uppercase;

}

h1 {
    font-weight: 500;
}

h2, h1, h3 {
    font-family: 'Alegreya Sans', sans-serif;
}

h3 {
    font-size: 14px;
    margin-top: 5px;
}

.parrafo-personajes {
    height: auto;
}

.texto {
    padding: 20px;
}

p, ul, ol {
    margin-top: 10px;
    text-align: justify;
}

ol {
    list-style-type: upper-roman;
}

li {
    margin-bottom: 10px;
}

.parrafos-index, .scrolleable {
    height: 205px;
}

span {
    color: red;
}

.articulo {
    width: 50%;
    height: 275px;
}

.imagen {
    overflow: hidden;
    border: 5px inset white;
    outline: 1px solid white;
}

img {
    width: 100%;
}

.columna-texto {
    flex-flow: column wrap;
}

.columna {
    width: 50%;
    padding: 10px;
    height: auto;
}

.parrafo-personajes {
    height:auto;
}

table {
    border-collapse: collapse;
    margin-top: 30px;
    text-align: center;
}
thead {
    background-color:rgb(255, 255, 255, 0.2);
}

tr {
    border-top: solid  1px black;
    border-bottom: solid  1px black;
}

tr:hover {
    background-color:rgb(255, 255, 255, 0.1);
}

td {
    padding: 10px 0 10px 0;
    min-width: 65px;
}

input, textarea {
    display:block;
}

footer, footer p {
    text-align: center;
    font-family: calibri;
}

.scrolleable {
    overflow: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(109, 108, 108); 
  }
